<div class="content">


<form class="example-form" #alumnoForm="ngForm" (ngSubmit)="crearAlumno()">

  <table class="example-full-width" cellspacing="0"><tr>
    <td>
        <mat-form-field class="example-full-width">
          <mat-label>Codigo</mat-label>
          <input matInput placeholder="Ex: 201970XXXX" [(ngModel)] = "model.codigo" name="codigo">
        </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Ex: Juan Perez" [(ngModel)] = "model.nombre" name="nombre">
      </mat-form-field>
    </td>
  </tr>
  </table>

  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Curso</mat-label>
      <input matInput placeholder="Ex: Matematicas Discretas" [(ngModel)] = "model.curso"  name="curso">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Ex: 25" [(ngModel)] = "model.edad"  name="edad">
    </mat-form-field>
  </p>

  <button mat-raised-button color="primary">Añadir Alumno</button>
</form>

<br>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef> codigo </th>
    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef> curso </th>
    <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef> edad </th>
    <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
  </ng-container>

  <!-- Symbol Column -->
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> opciones </th>
      <td mat-cell *matCellDef="let element">

        <button mat-mini-fab color="primary" (click)='editarAlumno(element.codigo)' >
          <mat-icon>Edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" (click)='eliminarAlumno(element.codigo)' >
          <mat-icon>X</mat-icon>
        </button>

      </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
